@font-face {
    font-family: "Poppins";
        src: url("fonts/poppins.ttf") format("regular");
}

body{
    font-family: "Poppins";
}

header{
   background-color: #0475ba;
    color: white;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    gap: 60px;
    padding-left: 3em;
    padding-bottom: 35px;
    padding-top: 35px;
}
.menu{
    color: white;
    padding: 30px;
    word-spacing: 8px;
}
#pres{
    display: flex;
    justify-content: center;
    color: #0475ba;
    gap:60px;
    margin-top: 40px;
    margin-bottom: 40px;


}
#title{
    margin-right: 80px;
    font-weight: bold;
}
#name{
    color: black;
    font-weight: bold;
    text-justify: center;
}
img {
    width: 150px;
    height: 150px;
   clip-path:ellipse(50% 50%);
   float: left;
}
#profil{
    background-color:#0475ba ;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 360px;
}
#Expériences{
    display: flex;
    flex-direction: column;
   padding-left: 360px;
   text-align: left;
   

}
.line{
    display: flex;
    justify-content: space-between;
    padding-right: 280px;
    font-weight: bold;
}
#Formations{
    color: white;
    background-color:#0475ba;
    padding-left: 360px;

}
#Passions{
    color:#0475ba;
    padding-left: 360px;
    
}
footer{
    display: flex;
    background-color: #0475ba ;
    color: white;
    gap: 60px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
}
#blog{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
#rs{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    row-gap: 5px;
}
a{
    color: white;
    text-decoration:none; 
}